<aside>
       
        <div id="release-button1" >
             <a  href="/home/student/publish_wanted" style="color: white" id="want-buy""> 我要买</a> 
        </div>
        <br><br>
        <div id="release-button2" >
            <a  href="/home/student/publish" style="color: white" id="want-sale"> 我要卖</a>
        </div>       
        <br><br>
        <div id="release-button3" >
            <a  href="/home/wanted_goods/list" style="color: white" > 求购专区</a>
        </div>

        <div class="helped ">
         <span class="helpers" id="order-count">0</span>
        </div>
        
     
    </div>
    </aside>
